body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0f172a;
    color: white;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    padding: 80px 20px;
    text-align: center;
}

.subtitle {
    opacity: 0.9;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    background: white;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.btn.outline {
    background: transparent;
    border: 2px solid white;
    color: white;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* SKILLS GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.card {
    background: #1e293b;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}

/* PROJECTS */
.project {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 4px solid #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    font-size: 14px;
}